
  @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Roboto+Mono:ital,wght@0,100;1,100&family=Roboto:ital,wght@1,100&family=Ubuntu:ital,wght@1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0%;
    cursor: pointer;
}
.logo{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo img{
    width: 30%;
    
    border-radius: 60px;
    border: 1px solid black;
}
.navlist{
    width:70%;
    
    display: flex;
    align-self: center;

    
    

}

.navlist li{
    list-style: none;
    
    padding:15px 30px ;
    
    
    

}

.navlist li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 22px;

}

.navlist li a:hover{
    color: black;
}

.rightnav{
    width: 30%;
    
    text-align: right;
}

.burger{
    position: absolute;
    top: 15px;
    right: 5%;
    cursor: pointer;
    display: none;
}

.line{
    background-color: white;
    width: 33px;
    height: 4px;
    margin: 5px 3px;
}

#search{
    padding: 2px;
    font-size: 15px;
    border: 2px grey solid;
    border-radius: 10px;
}

.background{
    background: rgba(0, 0,0,0.5) url("img.jpg");
    background-size: cover;
    background-blend-mode: darken;

}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    margin: auto;
    max-width: 50%;
    height: 70%;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.firstHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction:column ;

}

.secondHalf{
    width: 30%;

}

.secondHalf img{
    
    width: 200px;
    height: 200px;
    border-radius:150px ;
    display: block;
    margin: auto;


}

.text-big{
    font-size: 40px;

}

.text-small{
    font-size: 18px;

}

.btn{
    padding: 8px 20px;
    background: none;
    color: whitesmoke;
    border: solid 2px white;
    margin: 7px 3px;
    border-radius: 10px;
    cursor: pointer;

}
.dark-btn{
    color: black;
    border: 2px solid gray;
    margin: 0px 40px;
}

.btn-sm{
    padding: 4px 8px;
    background: none;
    color: whitesmoke;
    border: solid 2px white;
    margin: 7px 3px;
    border-radius: 10px;
    cursor: pointer;
    vertical-align:middle;
}

.imgfluid{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 15px; 
}

.section{
    font-family: 'Ubuntu', sans-serif;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    max-width: 70%;
    margin: auto;
}

.section-left{
    flex-direction: row-reverse;
}

.paras{
    padding: 0px 60px;
}

.sectionsubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact{
    height: 60vh;
    background-color: whitesmoke;
}

.text-center{
    text-align: center;
    font-size: 36px;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
}
.form{
    max-width: 400px;
    margin: auto;
}

.form-input{
    width: 100%;
    font-size: 18px;
    border: 2px solid grey;
    border-radius: 8px;
    margin: 5px 40px 20px;
    padding: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}


@media only screen and (max-width: 1140px){
    .navlist{
        flex-direction: column;

    }
    .navbar{
        
        flex-direction: column;
    }
    
    
    .rightnav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 55px;
        transition: all 0.7 ease-out;


    }
    .v-class{
        opacity: 0;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .text-big{
        text-align: center;
    }

    .text-small{
        text-align: center;
    }

    .buttons{
        text-align: center;
    }
    .section{
        flex-direction: column-reverse;
    }
    
}